<style>
    body form {display: flex;flex-flow: column wrap;}
    body form {align-self: center; display: flex; flex-flow: column; margin: 1em;}
    body form * {width: 20em;}
    body form div input {padding: 0.8em; font-size: 1em; border-radius: 0.5em; border: 1px solid #f63d68;}
    body form button {border: 1px solid #f63d68; cursor: pointer; background-color: #f63d68; color: white; padding: .7em; font-size: 1em;}
</style>
<form class="login">
    <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="text" name="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>